.container ul {
    width: 1200px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container li {
    margin: 10px;
}

.min_heigth {
    min-height: 75%;
}

